.profile {
  width: 300px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.description {
  text-align: center;
}

.list {
  padding: 0px;
  display: flex;

  list-style: none;
}

.item {
  width: 100px;
  text-align: center;
  border: 1px solid palegoldenrod;
}

.avatar {
  border-radius: 60px;
}

.name {
  font-size: 20px;
}

.tag {
  font-weight: 700;
  opacity: 0.5;
  font-size: 16px;
}

.location {
  composes: tag;
}

.label {
  display: block;
}
